<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <script>
        const handleLogin = async () => {
            try {
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                const response = await fetch('/api/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username, password }),
                });
                console.log("res", response);
                if (response.ok) {
                const data = await response.json();
                console.log("data", data);
                    window.location.href = '/api/chat';
                } else {
                    console.error('Login failed:', response.statusText);
                }
            } catch (error) {
                console.error(error);
            }
        };

        const loginForm = document.getElementById('loginForm');
        loginForm.addEventListener('submit', (event) => {
            event.preventDefault();
            handleLogin();
        });
    </script>
</body>
</html>
